pipeline/Incrementalelectronics.json
{
	"name": "Incrementalelectronics",
	"properties": {
		"activities": [
			{
				"name": "lastload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "electronicssqldbDS",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "watermarktable"
						}
					}
				}
			},
			{
				"name": "currentload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(Order_Date) as current_load from [dbo].[sales_raw]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "electronicssqldbDS",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "sales_raw"
						}
					}
				}
			},
			{
				"name": "sliver",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/sliver"
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_Customers",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sliver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/dim_Customers",
					"baseParameters": {
						"Incremental_Flag": "1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_Products",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sliver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/dim_Products",
					"baseParameters": {
						"Incremental_Flag": "1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_store",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sliver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/dim_store",
					"baseParameters": {
						"Incremental_Flag": "1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "dim_Date",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "sliver",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/dim_Date",
					"baseParameters": {
						"Incremental_Flag": "1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "fact_sales",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "dim_Customers",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_Products",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_store",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "dim_Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/electronicsproject/fact_sales",
					"baseParameters": {
						"Incremental_Flag": "1"
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureDatabricks_LS",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "rowcount ",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "lastload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "currentload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "electronicssqldbLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "select count(*) from [dbo].[sales_raw] where Order_Date >'@{activity('lastload').output.firstRow.LAST_LOAD}' and  Order_Date <='@{activity('currentload').output.firstRow.current_load}'"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Incrementalload",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "rowcount ",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('rowcount ').output>, 0",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Deleteemptyfiles",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "electonicsdatalakeDS",
									"type": "DatasetReference",
									"parameters": {
										"folder": "bronze",
										"filename": {
											"value": "@concat('retail_sales_', formatDateTime(utcNow(),'yyyyMMdd_HHmmss'), '.csv')",
											"type": "Expression"
										}
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Incremantalload",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from dbo.sales_raw where Order_Date >'@{activity('lastload').output.firstRow.LAST_LOAD}' and  Order_Date <='@{activity('currentload').output.firstRow.current_load}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "electronicssqldbDS",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "sales_raw"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetdatalakeDS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Updatewatermarktable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Incremantalload",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[watermarktableupdate]",
								"storedProcedureParameters": {
									"LAST_LOAD": {
										"value": {
											"value": "@activity('currentload').output.firstRow.current_load",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "electronicssqldbLS",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-17T14:47:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}