pipeline/pl_retail_sales_ingestion.json
{
	"name": "pl_retail_sales_ingestion",
	"properties": {
		"activities": [
			{
				"name": "lastload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "electronicssqldbDS",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "watermarktable"
						}
					}
				}
			},
			{
				"name": "currentload",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(Order_Date) as current_load from [dbo].[sales_raw]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "electronicssqldbDS",
						"type": "DatasetReference",
						"parameters": {
							"schema": "dbo",
							"table": "sales_raw"
						}
					}
				}
			},
			{
				"name": "rowcount",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "lastload",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "currentload",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "electronicssqldbLS",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "SELECT COUNT(*) FROM dbo.sales_raw\nWHERE Order_Date > '@{activity('lastload').output.firstRow.LAST_LOAD}'\nAND Order_Date <= '@{activity('currentload').output.firstRow.current_load}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Incrementalrows",
				"type": "IfCondition",
				"state": "Inactive",
				"onInactiveMarkAs": "Failed",
				"dependsOn": [
					{
						"activity": "rowcount",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('rowcount ').output>, 0",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "NoData_Log_Activity",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "electronicssqldbLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "INSERT INTO pipeline_audit_log\n(\npipeline_name,\npipeline_run_id,\nactivity_name,\ntable_name,\nstatus,\nrow_count,\nstart_time,\nend_time\n)\nVALUES\n(\n'pl_retail_sales_ingestion',\n'@{pipeline().RunId}',\n'Incremental_Check',\n'retail_sales',\n'NoData',\n0,\nGETDATE(),\nGETDATE()\n);"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Incremantalload",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from dbo.sales_raw where Order_Date >'@{activity('lastload').output.firstRow.LAST_LOAD}' and  Order_Date <='@{activity('currentload').output.firstRow.current_load}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "electronicssqldbDS",
									"type": "DatasetReference",
									"parameters": {
										"schema": "dbo",
										"table": "sales_raw"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ParquetdatalakeDS",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Updatewatermarktable",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Incremantalload",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[watermarktableupdate]",
								"storedProcedureParameters": {
									"LAST_LOAD": {
										"value": {
											"value": "@activity('currentload').output.firstRow.current_load",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "electronicssqldbLS",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Execute_sliver_gold_layer",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Updatewatermarktable",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_retail_sales_silver_gold",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Log_Success",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Execute_sliver_gold_layer",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "electronicssqldbLS",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "INSERT INTO pipeline_audit_log\n(\npipeline_name,\npipeline_run_id,\nactivity_name,\ntable_name,\nstatus,\nrow_count,\nstart_time,\nend_time\n)\nVALUES\n(\n'pl_retail_sales_ingestion',\n'@{pipeline().RunId}',\n'RetailSales_Incremental_Load',\n'retail_sales',\n'Success',\n@{activity('rowcount').output.firstRow.row_count},\nGETDATE(),\nGETDATE()\n)"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			},
			{
				"name": "Alerts",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Incrementalrows",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-09.northcentralus.logic.azure.com:443/workflows/b5f6bdac2e2d4d3290d7ff4368c36980/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=VO_lp4BBCQcTkKBDelWNQyolOJENwcrTNNnkBlUIpsY",
					"body": {
						"value": "{\n    \"pipeline_name\":\"@{pipeline().Pipeline}\",\n    \"pipeline_runid\":\"@{pipeline().RunId}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-17T14:47:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}